@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.8;
    cursor: wait;
  }
}

.hidden {
  display: none;
}

.s-full {
  width: 100%;
  height: 100%;
}

.bg-white {
  background: white;
}

.h-progress {
  height: 12px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
