$primaryColor: #300a24;

@mixin buttonBorder {
  color: white;
  border: 1px solid white !important;

  box-shadow: 0 2px #fff;
}

.container {
  padding: 48px;
  background: $primaryColor;
  color: white;
  height: 100vh;
  .content {
    max-width: 768px;
    width: 100%;
    margin: auto;
  }
}

.idHeading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.idContainer {
  display: flex;
  .copyButton {
    color: white;
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
}

.innerContent {
  margin-top: 0.8rem;
}

.connectForm {
  font-size: 1.3rem;
  > input {
    font-size: inherit;
    padding: 8px 12px;
    outline: none;
    border: none;
    margin-right: 1rem;
    height: 3rem;
    background: none;
    color: white;
    border: 1px solid white;
    box-shadow: 2px 2px #fff;
  }
  > button {
    font-size: inherit;
    height: 3rem;
    padding: 0 16px;
    @include buttonBorder();
  }
}

.mainInterface {
  > p {
    margin-bottom: 1rem;
  }

  .fileInput {
    outline: none;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  > .backdrop {
    background: #000000c4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &.enter {
      transition: opacity 0.2s ease-in;
    }
    &.enterFrom {
      opacity: 0;
    }
    &.enterTo {
      opacity: 1;
    }

    &.leave {
      transition: opacity 0.2s ease-out;
    }
    &.leaveFrom {
      opacity: 1;
    }
    &.leaveTo {
      opacity: 0;
    }
  }

  > main {
    color: white;
    background: $primaryColor;
    border: 1px solid #fff;
    z-index: 20;
    padding: 1.4rem;

    > .progress {
      width: 100%;
    }
    > .description {
      margin-top: 0.5rem;
    }

    .sendButton {
      margin-left: auto;
      width: fit-content;
      @include buttonBorder();
      padding: 4px 8px;
      font-size: 1rem;
    }

    &.enter {
      transition-property: transform opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-in;
    }
    &.enterFrom {
      transform: scale(0);
      opacity: 0;
    }
    &.enterTo {
      opacity: 1;
      transform: scale(1);
    }

    &.leave {
      transition-property: transform opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
    }
    &.leaveFrom {
      opacity: 1;
      transform: scale(1);
    }
    &.leaveTo {
      transform: scale(0);
      opacity: 0;
    }
  }
}
