.root {
  display: flex;
  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 8px;
    border: 1px solid #ebebeb;
  }
}

@media (min-width: 320px) {
  .root span {
    $square: 40px;

    width: $square;
    height: $square;
  }
}

@media (min-width: 490px) {
  .root span {
    $square: 60px;

    width: $square;
    height: $square;
  }
}
